.html {
  padding: 0;
  margin: 0;
}
body {
  background-color: #b4a4d5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.37'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* Global styles */
.editor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.order-form {
  background-color: rgba(
    249,
    249,
    249,
    0.8
  ); /* Adjust the alpha for transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 500px;
  max-width: fit-content;
}

.wholeform-div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all content horizontally */
}

.canvas {
  margin-left: 50px;
}
.canvas-box {
  /* background: linear-gradient(135deg, #a881db, #5e7db4); */
  height: 700px;
  width: 700px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  position: relative;
  left: 50px;
}
/* Form section styles */

.popup-content {
  background-color: #f9f9f9; /* Light gray background */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 9px 20px rgba(97, 38, 38, 0.2);
  max-width: 250px;
  text-align: center;
  border: 2px solid #ffde71; /* Bright border */
}

.popup-content .description {
  font-size: 16px; /* Larger font size */
  color: #333; /* Darker text color */
  line-height: 1.5; /* Better line spacing */
  font-family: Tahoma;
  font-weight: 700;
}

.info-button {
  cursor: pointer;
  transition: transform 0.2s; /* Smooth scaling */
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  border: none;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 100px;
  background-color: transparent; /* Default background */
  width: fit-content;
}

.info-button:hover {
  transform: scale(1.1); /* Slightly scale up on hover */
  background-color: rgb(255, 167, 233);
}

.description {
  background-color: white;
}

.popup-arrow {
  fill: #ffde71; /* Bright arrow color */
}

.universe-button {
  background-color: hotpink; /* Bright hotpink background */
  border: none;
  color: #ffffff; /* White text */
  height: 10vh;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 20px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* Necessary for positioning */
}

.universe-button:hover {
  background-color: #ff69b4; /* Lighter shade on hover */
  animation: wiggle 0.3s ease forwards; /* Add wiggle animation */
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tea-milk {
  display: flex;
  justify-content: center; /* Center tea and milk sections */
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Space between tea and milk sections */
  margin-top: 10px;
}
/* Label styles */
.label {
  display: inline-flex;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Tahoma;
  font-size: 22px;
}

.boba-button {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  padding: 0;
  align-items: center;
  background-color: #8c7dd3;
  width: 200px;
  height: 100px; /* Adjust as needed */
  line-height: 1.2; /* Reduce line height for tighter spacing */
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  color: white;
  font-size: 22px;
  text-align: center; /* Center text */
}

.boba-button:hover {
  background-color: #3b2e7a;
}
.boba-button h4 {
  margin: 0; /* Remove default margin */
  font-size: 22px; /* Maintain font size */
}

.boba-button h4:first-child {
  margin-bottom: 5px; /* Add slight margin below the tea name */
}

.boba-button h4:last-child {
  margin-top: 0; /* Ensure no top margin for price */
  font-size: 22px;
}

.active {
  background-color: #3b2e7a;
}

.button-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Optional: Adjust styles for button text */
.button h4 {
  margin: 0;
  font-size: 20px;
}

.button h4:last-child {
  color: #040307;
  font-size: 14px;
}

.button h4 {
  margin: 0;
  font-size: 14px;
}

.button h4:last-child {
  color: #0e0c0c;
  font-size: 14px;
}

.button:hover {
  background-color: #8c7dd3;
  color: white;
}

.next-button {
  background-color: #ffde71;
  width: 150px;
  border: solid black;
  color: #0a0603;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 50px;
}
.next-button1 {
  margin-right: 5px;
  background-color: #ffde71;
  width: 150px;
  border: solid black;
  color: #0a0603;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.next-button1:hover {
  background-color: #ffd54f;
  transform: scale(1.05);
}
.back-button {
  background-color: #0c0c0c;
  width: 150px;
  border: solid black;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 200px;
}
.back-button1 {
  background-color: #0c0c0c;
  width: 150px;
  border: solid black;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 325px;
}
.next-button:hover {
  background-color: #ffd54f;
  transform: scale(1.05);
}

.back-button:hover {
  transform: scale(1.05);
}
.back-button1:hover {
  transform: scale(1.05);
}
.next-back {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.submit-back {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.submit-button {
  background-color: #ffde71;
  width: 150px;
  border: solid black;
  color: #0a0603;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.submit-button:hover {
  background-color: #ffde71;
  transform: scale(1.05);
}
/* Navbar.module.css */
.nav-bar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-family: Tahoma;
  padding: 0;
  margin-top: -30px;
  margin-bottom: -30px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 70px;
  margin-right: 50px;
}

.nav-bar-logo img {
  transition: transform 0.3s ease;
  margin-right: 20px;
}

.nav-bar-logo img:hover {
  transform: scale(1.1);
}

.nav-bar ul {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-bar a {
  color: #ffd54f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.nav-bar a:hover {
  border: solid rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px;
  transform: translateY(-2px);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.nav-bar .logout {
  color: #ffd54f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;

  position: relative;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 35px;
}

.nav-bar .logout:hover {
  transform: translateY(-2px);
  background-color: white;
  border-radius: 20px;
}

.nav-bar .home,
.nav-bar .orders {
  background-color: #eff7ff;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-bar .home:hover,
.nav-bar .orders:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}

/* orders page */

/* orders page */

.orders-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5; /* Light gray */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: Tahoma, sans-serif;
}

.orders-container h2 {
  text-align: center;
  color: #444; /* Darker gray */
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.order {
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff; /* White */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.order h3 {
  color: #6c757d; /* Neutral color */
  font-size: 1.5rem;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 0.5rem;
  text-align: center;
}

.order-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}

.order-details div {
  display: flex;
  flex-direction: column;
}

.order h4 {
  margin: 0.5rem 0;
  color: #555; /* Dark gray */
  font-size: 1.2rem;
  font-weight: 500;
}

.order p {
  margin: 0.25rem 0;
  color: #333; /* Neutral color */
  font-size: 1rem;
}

.order p.price {
  font-weight: bold;
  color: #5a5a5a; /* Slightly darker gray */
  font-size: 1.1rem;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #888; /* Medium gray */
  margin-top: 2rem;
  font-weight: 500;
}
.remove-button {
  margin-right: 5px;
  background-color: #ffde71;
  width: 150px;
  border: solid black;
  color: #0a0603;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.remove-button:hover {
  background-color: #ffd54f;
  transform: scale(1.05);
}

/* LoginPage.css */
.login {
  max-width: 400px;
  margin: 5% auto;
  padding: 2rem;
  border: 2px solid #0e0c0c;
  border-radius: 10px;
  background-color: #f7d74b; /* Y2K yellow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Tahoma;
}
/* Login message style */
.login p {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #707175;
  margin-top: 1rem;
}

/* Heading style */
.login h1 {
  font-size: 2 rem;
  margin-bottom: 1rem;
  color: #2c314e;
}

/* Form container */
.form__login {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Label style */
.form__login label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: larger;
}

/* Input field style */
.form__login input {
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Button style */
.form__login button {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #ff6666;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__login button:hover {
  background-color: #ff4d4d;
}

.landing {
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: rgba(240, 248, 255, 0.7); /* Slightly more opaque */
  text-align: center;
  padding: 20px;
  border-radius: 10px; /* Added rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.landing-image-wrapper {
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.landing-image-wrapper:hover {
  transform: scale(1.1);
}

.landing-image {
  width: 200px;
  height: auto;
  border-radius: 10px; /* Rounded corners for image */
}

.landing-h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #d335be;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  opacity: 0; /* Initially hidden */
  transform: scale(0.8); /* Initially smaller */
  animation: fadeInScale 2s ease forwards; /* Apply the animation */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.landing-button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #8c7dd3;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: solid 2px #181427; /* Solid border */
  font-size: x-large;
  margin-bottom: 80px;
}

.landing-button:hover {
  background-color: #f77dfc; /* Bright pink */
  transform: scale(1.05); /* Slight scale effect on hover */
}
